
{% extends 'base.html' %}

{% block content %}

<table class="table">
  <thead>
    <tr>
      <!-- <th><abbr title="Test Case ID">ID</abbr></th> -->
      <th><abbr title="Test Case Name">Test_Case_Name_Descr</abbr></th>
      {% for index in range(num_days) %}
        <th><abbr title="Day {{index + 1}}">{{ index + 1}}</abbr></th>
      {%endfor%}
    </tr>
  </thead>
  <tfoot>
    <tr>
      <!-- <th><abbr title="Test Case ID">ID</abbr></th> -->
      <th><abbr title="Test Case Name">Test_Case_Name_Descr</abbr></th>
      {% for index in range(num_days) %}
        <th><abbr title="Day {{index + 1}}">{{ index + 1}}</abbr></th>
      {%endfor%}

    </tr>
  </tfoot>
  <tbody>
          {% for test in test_descr %}
            <tr>
            <th><a href="{{ url_for('note_index') }}">{{test.name}}</a></th>
            {% set test_counter = loop.index - 1 %}
              {% for day in range(num_days) %}
                {% if full_month_test[test_counter][day] is not none %}
                  {% if full_month_test[test_counter][day].testpass == 1 %}
                    <td><a class="button is-success is-small has-text-weight-bold" href="#"></a></td>
                  {% else %}
                    <td><a class="button is-danger is-small has-text-weight-bold" href="#"></a></td>
                  {% endif %}
                {% else %}
                  <td><a class="button is-outlined is-small" href="#"></a></td>
                {% endif %}
              {% endfor %}
          </tr>
          {%endfor%}

  </tbody>
</table>
{% endblock %}
